:root {
	font-family: 'Rubik', 'Helvetica', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;

	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, 1);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--color-white: rgba(255, 255, 255, 1);
	--color-white-02: rgba(255, 255, 255, 0.2);
	--color-black: rgba(0, 0, 0, 1);

	/* 400, 700 */
}
/* #region ADD FONTS */
@font-face {
	font-family: 'Rubik';
	src: url('./assets/fonts/rubik/Rubik-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Rubik';
	src: url('./assets/fonts/rubik/Rubik-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
/* #endregion */
/* #region BASIC */
a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}
/* #endregion */
/* #region HEADINGS */
.h1{
  font-size: 100px;
  line-height: 118px;
  font-weight: 700;
}
.h2{
  font-size: 64px;
  line-height: 76px;
  font-weight: 700;
}
.h3{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.paragraph{
  
}
/* #endregion */
